/* Global Styles */
body {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

header {
  text-align: center;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.content {
  text-align: center;
  padding-top: 20px;
  width: 100%;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.categories, .blacklist-flags {
  width: 45%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.categories h2, .blacklist-flags h2 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2C8C43;
}

.joke-button {
  background-color: #34A853;
}

.tired-button {
  background-color: #F4B400;
}

@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    align-items: center;
  }
  .categories, .blacklist-flags {
    width: 80%;
  }
}
