<div class="content">
  <h1>If you miss Jaro, click the first button</h1>

  <p><%= @joke %></p>

  <%= button_to "Tell me a joke", {action: "show"}, method: :get, form_class: "button joke-button" %>
  <%= button_to "I am tired of this", {action: "show"}, method: :get, form_class: "button tired-button" %>
</div>
